@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-valorant-dark text-white font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading uppercase tracking-wider;
  }

  .font-tech {
    @apply font-mono tracking-widest;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-valorant-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-valorant-red rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-600;
}